<div class='container'>
	<div class='row'>

    <qa
      question="Wie war die Adresse?"
      answer="['Geisenmarkt 13', '67583 Guntersblum', 'Rheinland-Pfalz']"
      class='.col-12	.col-sm-6	.col-md-4	.col-lg-2	.col-xl-2'>
    </qa>

    <qa
      question="Wann war der Teil mit dem Alkohol?"
      answer="Am 08.09 um xx Uhr"
      class='.col-12	.col-sm-6	.col-md-4	.col-lg-2	.col-xl-2'>
    </qa>

    <qa
      question="und der kinderfreundliche Teil?"
      answer="Am 09.09 um die Mittagszeit"
      class='.col-12	.col-sm-6	.col-md-4	.col-lg-2	.col-xl-2'>
    </qa>

	</div>
</div>