

#LoginBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:100%;
    height:100%;
}

#LoginWindow  {
    min-width: 200px;
    max-width: 400px;
    min-height: 100px;
    background-color: rgb(0, 0, 0);
    color: #fff;

    position: relative;
    justify-content: center;
    align-items: center;

    border-radius : 20px;
    box-shadow: 4px 4px 2px #3535358f, -4px -4px 2px #3535358f, 4px -4px 2px #3535358f, -4px 4px 2px #3535358f;
}


#LoginWindow label {
    color: #fff;
    font-size: 3em;
    margin-bottom: 0px;
}

#LoginWindow div {
    margin: 10px 40px 20px 40px;
}