nav.navbar {
    box-shadow: -2px -2px 1px #00000033;
}

#navbarNav {
    border-top: 2px solid gray;
    margin-top: 10px;
}

.nav-link > i {
    font-size: 32px;
    margin-left: 15px;
}

.nav-link > i:last-child {
    margin-left: 0px;
}

.nav-link:hover {
    background-color: #ffffff44;
}