h3 {
    text-shadow: 3px 2px 1px #1d1d1d8f, 5px 4px 1px rgba(0,0,0,0.15);
}

.sp-box {
    margin: 10px 5px;
    padding: 10px;
    background-color: rgb(214, 214, 214);
    box-shadow: 4px 4px 0px #9797978f;
    color : #1d1d1d;
}

.sp-box span {
    font-weight: 600;
    color : #1d1d1d;
}